.divider {
    border-bottom: 1px solid grey;

    .container {
        border-bottom: 5px solid $brand-color;
        margin-bottom: -3px;
        max-width: 320px;
    }
}
.testimonial__divider {
    border-bottom: 1px solid black;

    .container {
        border-bottom: 5px solid black;
        margin-bottom: -6px;
    }
}

//
.overlay {
    background-color: rgba(255,255,255,0.65);
}
.subheader {
    background-image: url(/img/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 370px;
    margin-top: 120px;
    border-bottom: 6px solid $brand-color;
}
.bg-brand {
    background-color: $brand-color;
}
.card {
    min-height: 500px;
}
.card-title {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid $brand-color;
    font-size: 1rem;
}
.bg-primary {
    background-color: $brand-color !important;
}
.badge {
    font-size: 1rem !important;
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px 0;
}
.text-shadow {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}
.testimonial-img {
    max-width: 150px;
}