<div class="footer__box py-5">
  <div class="container">
    <div class="d-flex flex-column align-items-center py-5">

    <h2 class="footer__heading text-white text-center">{{ i18n "freeappointment" }}</h2>

    {{ if eq .Site.Language.Lang "fr" }}

    <a href="{{ .Site.BaseURL }}rendez-vous" class="btn btn-primary my-3" data-aos="zoom-in" data-aos-duration="500">{{ i18n "appointment" }}</a>
        
    {{ else }}
        
    <a href="{{ .Site.BaseURL }}en/appointment" class="btn btn-primary my-3" data-aos="zoom-in" data-aos-duration="500">{{ i18n "appointment" }}</a>
    
    {{ end }}

    </div>

    <div class="divider my-5">
      <div class="container"></div>
  </div>



  <div class="row gx-5 py-5">

    <div class="col-lg-3 col-md-6 col-sm-12 mb-5 d-flex flex-column justify-content-start align-items-center">
      <img src="{{ .Site.BaseURL }}img/logo-footer.png" alt="{{ .Site.Params.businessname }}" class="logo-footer">
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
      <h3 class="footer__box--link text-uppercase">Services</h3>

      <div class="d-flex flex-column">
       
        <ol class="list-unstyled">

          <li>
            {{ if eq .Site.Language.Lang "fr" }}
          
            <a href="{{ .Site.BaseURL }}/microblading" class="footer__link text-uppercase">Microblading</a>
            
                {{ else }}
            
                <a href="{{ .Site.BaseURL | relLangURL }}/services/#auto" class="footer__link text-uppercase">Microblading</a>
            
              {{ end }}
          
          </li>
            

          <li>
            
            {{ if eq .Site.Language.Lang "fr" }}
          
            <a href="{{ .Site.BaseURL }}/sourcils-permanents" class="footer__link text-uppercase">{{ i18n "permanent-eyebrow" }}</a>
            
                {{ else }}
            
                <a href="{{ .Site.BaseURL | relLangURL }}/services#home" class="footer__link text-uppercase">{{ i18n "permanent-eyebrow" }}</a>
            
              {{ end }}
            
            </li>

          <li>
            
            {{ if eq .Site.Language.Lang "fr" }}
          
            <a href="{{ .Site.BaseURL }}/levres-permanentes" class="footer__link text-uppercase">{{ i18n "permanent-lips" }}</a>
            
                {{ else }}
            
                <a href="{{ .Site.BaseURL | relLangURL }}/services#business" class="footer__link text-uppercase">{{ i18n "permanent-lips" }}</a>
            
              {{ end }}

          </li>

          <li>
            
            {{ if eq .Site.Language.Lang "fr" }}
          
            <a href="{{ .Site.BaseURL }}/eyeliner-et-intralash-permanent" class="footer__link text-uppercase">Intralash & Eyeliner</a>
            
                {{ else }}
            
                <a href="{{ .Site.BaseURL | relLangURL }}/services/#life" class="footer__link text-uppercase">Intralash & Eyeliner</a>
            
              {{ end }}

          
          
          </li>

          <li>

            {{ if eq .Site.Language.Lang "fr" }}
          
            <a href="{{ .Site.BaseURL }}/micropigmentation-capillaire" class="footer__link text-uppercase">{{ i18n "micropigmentation" }}</a>
            
                {{ else }}
            
                <a href="{{ .Site.BaseURL | relLangURL }}/services#life" class="footer__link text-uppercase">{{ i18n "micropigmentation" }}</a>
            
              {{ end }}
            
          </li>

          <li>
            {{ if eq .Site.Language.Lang "fr" }}
          
            <a href="{{ .Site.BaseURL }}corrections-tatouages-cosmetiques" class="footer__link text-uppercase">{{ i18n "tatoofixes" }}</a>
            
                {{ else }}
            
                <a href="{{ .Site.BaseURL | relLangURL }}/services#life" class="footer__link text-uppercase">{{ i18n "tatoofixes" }}</a>
            
              {{ end }}
          
          </li>

          <li>
            {{ if eq .Site.Language.Lang "fr" }}
          
            <a href="{{ .Site.BaseURL }}/tatouages-corporels" class="footer__link text-uppercase">{{ i18n "bodytatoos" }}</a>
            
                {{ else }}
            
                <a href="{{ .Site.BaseURL | relLangURL }}/services#life" class="footer__link text-uppercase">{{ i18n "bodytatoos" }}</a>
            
              {{ end }}
          
          </li>

        </ol>

      </div>

    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
      <h3 class="footer__box--link">{{ i18n "company" }}</h3>

        <ol class="list-unstyled">

          <li>
            {{ if eq .Site.Language.Lang "fr" }}
          
            <a href="{{ .Site.BaseURL }}/a-propos" class="footer__link text-uppercase">{{ i18n "aboutus" }}</a>
            
                {{ else }}
            
                <a href="{{ .Site.BaseURL | relLangURL }}/about" class="footer__link text-uppercase">{{ i18n "aboutus" }}</a>
            
              {{ end }}
            
          </li>

          <li>

            {{ if eq .Site.Language.Lang "fr" }}
          
            <a href="{{ .Site.BaseURL }}/privacy-policy" class="footer__link text-uppercase">{{ i18n "privacypolicy" }}</a>
            
                {{ else }}
            
                <a href="{{ .Site.BaseURL | relLangURL }}/privacy-policy" class="footer__link text-uppercase">{{ i18n "privacypolicy" }}</a>
            
              {{ end }}

          </li>

        </ol>

    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <h3 class="footer__box--link">CONTACT</h3>

      <address class="footer__address">
        Studio Holloway
        67-G Boul. Georges-Gagné Sud
        <br>
        Delson, QC
        <br>
        J5B 2E5

      </address>      
      <a href="https://www.facebook.com/studioholloway/" target="_blank" rel="nofollow">
      <svg class="fill-brand-footer">
        <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#facebook"></use>
      </svg>
      </a>

      <a href="https://www.instagram.com/studioholloway/" target="_blank" rel="nofollow">
      <svg class="fill-brand-footer">
        <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#instagram"></use>
      </svg>
      </a>

      <a href="https://www.pinterest.ca/studioholloway/" target="_blank" rel="nofollow">
      <svg class="fill-brand-footer">
        <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#pinterest"></use>
      </svg>
    </a>
    </div>

  </div>
</div>
</div>
<div class="credit py-3 text-white">
      <div class="container d-flex flex-lg-row justify-content-lg-between flex-column align-items-center">
        <div class="pr-lg-2">
          <p>Copyright © {{ dateFormat "2006" now }} - 
            
            {{ if eq .Site.Language.Lang "fr" }}
          
            <a href="{{ .Site.BaseURL }}/privacy-policy" class="footer__link">{{ i18n "privacypolicy" }}
            
                {{ else }}
            
                <a href="{{ .Site.BaseURL | relLangURL }}/privacy-policy" class="footer__link">{{ i18n "privacypolicy" }}</a>
            
              {{ end }}
              
            </a></p>
        </div>   

        <div>
            <p>{{ i18n "credit" }} <a href="https://www.supersonicsites.com" class="origin">Supersonic Sites</a></p>
        </div>

                   
      </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{{ .Site.BaseURL }}js/script.js"></script>
<script>
  AOS.init();
</script>