<nav class="navbar bg-white navbar-expand-md navbar-light fixed-top shadow">
    <div class="container py-1">

    <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}"><img src="{{ $.Site.BaseURL }}{{ .Site.Params.logo }}" alt="{{ .Site.Params.businessname }}" class="nav-logo"></a>
        
    <div class="desktopmenu d-flex align-items-center justify-content-center text-uppercase">
      <ul class="navbar-nav">
      {{ if eq .Site.Language.Lang "fr" }}
          
      <li class="nav-item mt-2"><a class="nav-link uppercase" href="{{ .Site.BaseURL | relLangURL }}">Accueil</a></li>
     
      <li class="nav-item mt-2"><a class="nav-link uppercase" href="{{ .Site.BaseURL | relLangURL }}a-propos">À Propos</a></li>
     
      <li class="nav-item dropdown mt-2">
        
        <a class="nav-link uppercase dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">Services</a>
      
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          
          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}microblading">Microblading</a></li>
          
          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}sourcils-permanents">Sourcils Permanents</a></li>
          
          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}levres-permanentes">Lèvres Permanents</a></li>

          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}eyeliner-et-intralash-permanent">Eyeliner & Intralash</a></li>

          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}micropigmentation-capillaire">Micropigmentation Capillaire</a></li>

          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}corrections-tatouages-cosmetiques">Corrections Tatouages</a></li>

          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}tatouages-corporels">Tatouages Corporels</a></li>
        </ul>
      
      </li>
     
      <li class="nav-item mt-2"><a class="nav-link uppercase" href="{{ .Site.BaseURL | relLangURL }}contact">Contact</a></li>
     
      <div class="btn btn-primary translate">
     
        <a href="{{ .Site.BaseURL }}rendez-vous" class="">Rendez-Vous</a>
    
      </div>
    
      {{ else }}
    
      <li class="nav-item mt-2"><a class="nav-link uppercase" href="{{ .Site.BaseURL | relLangURL }}en">Home</a></li>
     
      <li class="nav-item mt-2"><a class="nav-link uppercase" href="{{ .Site.BaseURL | relLangURL }}en/about-us">About Us</a></li>
     
      <li class="nav-item dropdown mt-2">
        
        <a class="nav-link uppercase dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">Services</a>
      
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          
          <li><a class="dropdown-item" href="{{ .Site.BaseURL }}/microblading">Microblading</a></li>
          
          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}/permanent-eyebrows">Permanent Eyebrows</a></li>
          
          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}/permanent-lipstick">Permanent Lipstick</a></li>

          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}/permanent-eyeliner-et-intralash">Eyeliner & Intralash</a></li>

          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}/scalp-micropigmentation">Scalp Micropigmentation</a></li>

          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}/cosmetic-tattoo-corrections">Tattoo Corrections</a></li>

          <li><a class="dropdown-item" href="{{ .Site.BaseURL | relLangURL }}/body-tatoos">Body Tattoos</a></li>
        </ul>
      
      </li>
     
      <li class="nav-item mt-2"><a class="nav-link uppercase" href="{{ .Site.BaseURL | relLangURL }}/contact">Contact</a></li>
     
      <div class="translate mt-1">
     
        <a href="{{ .Site.BaseURL | relLangURL }}en/appointment" class="">Appointment</a>
    
      </div>
    
      {{ end }}
    </ul>   

          
          <div class="">
          
            {{ if .IsTranslated }}
          
            {{ range .Translations }}
          
            {{ if eq .Site.Language.Lang "en" }}
          
            <a class="" title="English" href="{{ .RelPermalink }}">EN</a>
          
            {{ else }}
         
            <a class="" title="French" href="{{ .RelPermalink }}">FR</a>
           
            {{ end }}
          
                {{ end }}
          
                {{ else }}
           
                {{ if eq .Site.Language.Lang "fr" }}
          
                <a class="" title="English" href="/en">EN</a>
            
                {{ else }}
            
                <a class="" title="French" href="/">EN</a>
            
                {{ end }}
          
                {{ end }}
          
              </div>

        </div>
        
<!-- Mobile Menu -->
<div class="menu-wrap">
  <input type="checkbox" class="toggler">

  <div class="hamburger"><div></div></div>
  <div class="menu">
    <div>
      <div>
        <ul>

          {{ range .Site.Menus.main -}}

          <li><a class="nav-item nav-link uppercase" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>

          {{ end }}
          {{ if .IsTranslated }}
            {{ range .Translations }}
              {{ if eq .Site.Language.Lang "en" }}
            <li><a class="nav-item nav-link" title="English" href="{{ .RelPermalink }}">EN</a></li>
              {{ else }}
            <li><a class="nav-item nav-link" title="French" href="{{ .RelPermalink }}">FR</a></li>
              {{ end }}
            {{ end }}
          {{ else }}
            {{ if eq .Site.Language.Lang "fr" }}
            <li><a class="nav-item nav-link" title="English" href="/en">EN</a></li>
            {{ else }}
            <li><a class="nav-item nav-link" title="French" href="/">FR</a></li>
            {{ end }}
          {{ end }}

        </ul>
      </div>
    </div>
  </div>
</div>
</nav>